* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

font-size: 14px;
background-color: rgb(243, 244, 245);
}

header {

    background-color: white;
}
#header-logo img{
    

       vertical-align: middle;
       width: 67px;
       margin: 20px;
      
}

#header-logo span {

    font-size: 70px;
   vertical-align: middle;
    
}
   
main {

    margin: 3%;
    background-color: white;
    border: 40px;
    padding: .8%;
    
}

.section-button{
    margin: 15px;
    
    /* background-color: #3a7fff; */
    color: #fff;
    border: none; 
    border-radius: 10px; 
    padding: 10px;
    min-height: 30px; 
    min-width: 90px;


}

.blue-button {

    background-color: rgb(90, 164, 250);
}

.grey-button {

    background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-color: rgba(153, 152, 152, 0.842);
    color: rgb(138, 137, 137);
}

.general-text {

    margin: 15px
    ;
    
}

.all-p {

    margin: 15px;
    font-size: 20px;

    
}

#purple-button {

    background-color: rgb(135, 14, 165);
}

#green-button {

    background-color: rgb(17, 141, 83);
}

#orange-button {

    background-color: orange;
}

#pink-button {

    background-color: pink;
}

#green2-button {

    background-color: rgb(136, 224, 3);
}